CardView/Application/build/intermediates/incremental-runtime-classes/debug/instant-run.jar
CardView/Application/build/intermediates/incremental-classes/debug/instant-run-bootstrap.jar
CardView/Application/build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/E3Eh8_hhWJjML35tFM4r3FKRux0=
CardView/Application/build/intermediates/split-apk/debug/slices/slice_4.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_3.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_2.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_1.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_0.apk
CardView/Application/build/intermediates/split-apk/debug/dep/dependencies.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_9.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_8.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_7.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_6.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_5.apk
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_9/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_8/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_7/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_6/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_5/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_4/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_3/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_2/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_1/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_0/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10000/instant-run_65352b23987f2e0ffb4d8453a659b2b81f91680b/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10000/instant-run-bootstrap_d17157362ad110623dfdd7219687c8a84f692cc5/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10/support-annotations-24.0.0_a9cda8811f9f1fc4d682b145c149bac4fdecd56a/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10/classes_32935025102357fc020184fdba1a4ef8b7b8e78b/classes.dex
CardView/Application/build/outputs/apk/Application-debug.apk
CardView/gradle/wrapper/gradle-wrapper.properties
CardView/gradle/wrapper/gradle-wrapper.jar
CardView/build/generated/mockable-android-26.jar
