CardView/Application/build/intermediates/incremental-runtime-classes/debug/instant-run.jar
CardView/Application/build/intermediates/incremental-classes/debug/instant-run-bootstrap.jar
CardView/Application/build/intermediates/incremental/packageInstantRunResourcesDebug/zip-cache/E3Eh8_hhWJjML35tFM4r3FKRux0=
CardView/Application/build/intermediates/split-apk/debug/slices/slice_4.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_3.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_2.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_1.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_0.apk
CardView/Application/build/intermediates/split-apk/debug/dep/dependencies.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_9.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_8.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_7.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_6.apk
CardView/Application/build/intermediates/split-apk/debug/slices/slice_5.apk
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_9/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_8/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_7/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_6/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_5/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_4/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_3/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_2/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_1/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/5/slice_0/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10000/instant-run_65352b23987f2e0ffb4d8453a659b2b81f91680b/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10000/instant-run-bootstrap_d17157362ad110623dfdd7219687c8a84f692cc5/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10/support-annotations-24.0.0_a9cda8811f9f1fc4d682b145c149bac4fdecd56a/classes.dex
CardView/Application/build/intermediates/transforms/dex/debug/folders/1000/10/classes_32935025102357fc020184fdba1a4ef8b7b8e78b/classes.dex
CardView/Application/build/outputs/apk/Application-debug.apk
CardView/gradle/wrapper/gradle-wrapper.properties
CardView/gradle/wrapper/gradle-wrapper.jar
CardView/build/generated/mockable-android-26.jar
IAAI.TowerKioskWeb/build/generated/mockable-android-17.jar
IAAI.TowerKioskWeb/app/build/outputs/logs/manifest-merger-debug-report.txt
IAAI.TowerKioskWeb/app/build/outputs/apk/app-debug.apk
IAAI.TowerKioskWeb/app/build/intermediates/transforms/dex/debug/folders/1000/1f/main/classes.dex
IAAI.TowerKioskWeb/app/build/intermediates/res/resources-debug.ap_
IAAI.TowerKioskWeb/app/build/intermediates/res/resources-debug-androidTest.ap_
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/values/values.xml
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/values-v14/values-v14.xml
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/values-v11/values-v11.xml
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/values-sw720dp-land-v13/values-sw720dp-land-v13.xml
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/menu/main.xml
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/layout/activity_main.xml
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/drawable-xxhdpi/ic_launcher.png
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/drawable-xhdpi/ic_launcher.png
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/drawable-mdpi/ic_launcher.png
IAAI.TowerKioskWeb/app/build/intermediates/res/merged/debug/drawable-hdpi/ic_launcher.png
IAAI.TowerKioskWeb/app/build/intermediates/pre-dexed/debug/support-v4-18.0.0_08029efc06e76360ac3f0fb6c0008ed49d243020.jar
IAAI.TowerKioskWeb/app/build/intermediates/pre-dexed/debug/debug_0dfcb7b8eae197adf3381346a979ee7111d1bf8c.jar
IAAI.TowerKioskWeb/app/build/intermediates/manifests/full/debug/AndroidManifest.xml
IAAI.TowerKioskWeb/app/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/packageDebug/zip-cache/QxyS0kpRu3nm8eCQTa0m2YT1kws=
IAAI.TowerKioskWeb/app/build/intermediates/incremental/packageDebug/file-input-save-data.txt
IAAI.TowerKioskWeb/app/build/intermediates/incremental/packageDebug/dex-renamer-state.txt
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugResources/merger.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v14/values-v14.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-v11/values-v11.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values-sw720dp-land-v13/values-sw720dp-land-v13.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
IAAI.TowerKioskWeb/app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
IAAI.TowerKioskWeb/app/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
IAAI.TowerKioskWeb/app/build/intermediates/incremental/compileDebugAidl/dependency.store
IAAI.TowerKioskWeb/app/build/intermediates/incremental-safeguard/debug/tag.txt
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$style.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$string.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$menu.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$layout.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$id.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$drawable.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$dimen.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/R$attr.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/MainActivity.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/MainActivity$OnYardWebViewClient.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/MainActivity$1.class
IAAI.TowerKioskWeb/app/build/intermediates/classes/debug/com/iaai/towerkioskweb/BuildConfig.class
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/single/menu.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/single/layout.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/multi/values.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/multi/values-v14.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/multi/values-v11.json
IAAI.TowerKioskWeb/app/build/intermediates/blame/res/debug/multi/values-sw720dp-land-v13.json
IAAI.TowerKioskWeb/app/build/generated/source/r/debug/com/iaai/towerkioskweb/R.java
IAAI.TowerKioskWeb/app/build/generated/source/buildConfig/debug/com/iaai/towerkioskweb/BuildConfig.java
IAAI.TowerKioskWeb/app/build/generated/source/buildConfig/androidTest/debug/com/iaai/towerkioskweb/test/BuildConfig.java
IAAI.TowerKioskWeb/app/build.gradle
IAAI.TowerKioskWeb/app/app.iml
IAAI.TowerKioskWeb/.idea/workspace.xml
IAAI.TowerKioskWeb/.idea/runConfigurations.xml
IAAI.TowerKioskWeb/.idea/modules.xml
IAAI.TowerKioskWeb/.idea/misc.xml
IAAI.TowerKioskWeb/.idea/libraries/support_v4_18_0_0.xml
IAAI.TowerKioskWeb/.idea/libraries/android_android_17.xml
IAAI.TowerKioskWeb/.idea/gradle.xml
IAAI.TowerKioskWeb/.idea/copyright/profiles_settings.xml
IAAI.TowerKioskWeb/.idea/compiler.xml
IAAI.TowerKioskWeb/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.lock
IAAI.TowerKioskWeb/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localJarClasspathSnapshot/localJarClasspathSnapshot.bin
IAAI.TowerKioskWeb/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
IAAI.TowerKioskWeb/.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin
IAAI.TowerKioskWeb/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
IAAI.TowerKioskWeb/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
IAAI.TowerKioskWeb/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
IAAI.TowerKioskWeb/.gradle/2.14.1/taskArtifacts/fileHashes.bin
IAAI.TowerKioskWeb/.gradle/2.14.1/taskArtifacts/cache.properties.lock
IAAI.TowerKioskWeb/.gradle/2.14.1/taskArtifacts/cache.properties
OnYard/zxing/zxing.iml
OnYard/viewPagerIndicator/viewPagerIndicator.iml
OnYard/onYardProviderImpl/onYardProviderImpl.iml
OnYard/onYard/onYard.iml
OnYard/gradle/wrapper/gradle-wrapper.properties
OnYard/gradle/wrapper/gradle-wrapper.jar
OnYard/.idea/workspace.xml
OnYard/.idea/runConfigurations.xml
OnYard/.idea/modules.xml
OnYard/.idea/misc.xml
OnYard/.idea/libraries/support_vector_drawable_24_0_0.xml
OnYard/.idea/libraries/support_v4_24_0_0.xml
OnYard/.idea/libraries/support_v4_18_0_0.xml
OnYard/.idea/libraries/support_annotations_24_0_0.xml
OnYard/.idea/libraries/play_services_6_1_71.xml
OnYard/.idea/libraries/picasso_2_3_2.xml
OnYard/.idea/libraries/otto_1_3_4.xml
OnYard/.idea/libraries/org_apache_http_legacy_android_24.xml
OnYard/.idea/libraries/mail.xml
OnYard/.idea/libraries/leadtools_codecs.xml
OnYard/.idea/libraries/leadtools.xml
OnYard/.idea/libraries/jcifs_1_3_17.xml
OnYard/.idea/libraries/crashlytics.xml
OnYard/.idea/libraries/core_2_2.xml
OnYard/.idea/libraries/butterknife_5_0_0.xml
OnYard/.idea/libraries/appcompat_v7_24_0_0.xml
OnYard/.idea/libraries/animated_vector_drawable_24_0_0.xml
OnYard/.idea/libraries/android_android_24.xml
OnYard/.idea/libraries/android_android_17.xml
OnYard/.idea/libraries/android_android_16.xml
OnYard/.idea/libraries/additionnal.xml
OnYard/.idea/libraries/activation.xml
OnYard/.idea/gradle.xml
OnYard/.idea/copyright/profiles_settings.xml
OnYard/.idea/compiler.xml
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/gradle_wrapper.xml
.idea/libraries/gradle_wrapper1.xml
CardView/Application/build/generated/source/buildConfig/buildConfig.iml
CardView/Application/build/generated/source/buildConfig/androidTest/androidTest.iml
CardView/Application/build/generated/source/r/r.iml
CardView/Application/build/intermediates/instant-run-support/debug/dependencies/dependencies.iml
CardView/Application/build/intermediates/instant-run-support/debug/dependencies/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/dependencies/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/dependencies/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_0/slice_0.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_0/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_0/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_0/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_1/slice_1.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_1/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_1/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_1/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_2/slice_2.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_2/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_2/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_2/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_3/slice_3.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_3/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_3/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_3/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_4/slice_4.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_4/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_4/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_4/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_5/slice_5.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_5/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_5/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_5/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_6/slice_6.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_6/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_6/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_6/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_7/slice_7.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_7/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_7/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_7/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_8/slice_8.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_8/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_8/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_8/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_9/slice_9.iml
CardView/Application/build/intermediates/instant-run-support/debug/slice_9/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_9/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/instant-run-support/debug/slice_9/gen/com/example/android/cardview/R.java
CardView/Application/build/intermediates/manifests/instant-run/debug/debug.iml
CardView/Application/build/intermediates/manifests/instant-run/debug/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/build/intermediates/manifests/instant-run/debug/gen/com/example/android/cardview/Manifest.java
CardView/Application/build/intermediates/manifests/instant-run/debug/gen/com/example/android/cardview/R.java
CardView/Application/src/main/main1.iml
CardView/Application/src/main/gen/com/example/android/cardview/BuildConfig.java
CardView/Application/src/main/gen/com/example/android/cardview/Manifest.java
CardView/Application/src/main/gen/com/example/android/cardview/R.java
CardView/Application/tests/tests.iml
CardView/Application/tests/gen/com/example/android/cardview/tests/BuildConfig.java
CardView/Application/tests/gen/com/example/android/cardview/tests/Manifest.java
CardView/Application/tests/gen/com/example/android/cardview/tests/R.java
FristApp/app/src/main/gen/com/firstapp/rgautam/firstapp/BuildConfig.java
FristApp/app/src/main/gen/com/firstapp/rgautam/firstapp/Manifest.java
FristApp/app/src/main/gen/com/firstapp/rgautam/firstapp/R.java
ShoppingList/app/src/main/gen/us/forgeinnovations/deltaman/ui/BuildConfig.java
ShoppingList/app/src/main/gen/us/forgeinnovations/deltaman/ui/Manifest.java
ShoppingList/app/src/main/gen/us/forgeinnovations/deltaman/ui/R.java
